<ion-header>
  <ion-toolbar class="position" color="white">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div id="nav-pages">
    <ion-title>{{'Position.title' | translate}}</ion-title>
    </div> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [debounce]="50" (ionChange)="handleChange($event)"></ion-searchbar>
  <ion-list>
    <app-position *ngFor="let position of result" [position]="position" (onEdit)="onEditPosition($event)" (onDelete)="onDeletePosition($event)"></app-position>
  </ion-list>
</ion-content>

<ion-segment>
  <ion-segment-button (click)="onNewPosition()" icon-only>
    <ion-icon name="add-circle" color="primary" style="zoom:2"></ion-icon>
  </ion-segment-button>
</ion-segment>